## Homework PANDAS 5

import numpy, pandas ,display and pyplot

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [29]:
df = pd.DataFrame({'A':[None, 2, 3, None, 5], 'B':[10, None, None, 40, 50], 'C':[100, None, 300, 400,
None]})
display(df)

     A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

**EX 1**
PANDAS exercise

In [12]:
display(df.dropna())

Empty DataFrame
Columns: [A, B, C]
Index: []

**EX 2**
PANDAS exercise

In [27]:
display(df.dropna(thresh=1))

     A     B      C
0  NaN  10.0  100.0
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

**EX 3**
PANDAS exercise

In [31]:
display(df.dropna(subset=['A', 'C']))

     A   B      C
2  3.0 NaN  300.0

**EX 4**
PANDAS exercise

In [54]:
display(df.fillna(0))

     A          B      C
0  0.0  10.000000  100.0
1  2.0  33.333333    0.0
2  3.0  33.333333  300.0
3  0.0  40.000000  400.0
4  5.0  50.000000    0.0

**EX 5**
PANDAS exercise

In [56]:
display(df[['B']].fillna(df['B'].mean()))

           B
0  10.000000
1  33.333333
2  33.333333
3  40.000000
4  50.000000